<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TheGiftGarden</title>
    <link rel="stylesheet" th:href="@{/css/css.css}" href="../static/css/css.css">
</head>
<body>
    <nav class="navbar">
        <ul class="logo"><span class="logo-the-gift">THE GIFT</span> <br/> GARDEN</ul>
        <ul class="nav-links">
            <ul class="nav-item">Create Account</ul>
            <ul class="nav-item">Login</ul>    
        </ul>
    </nav>

</body>
</html>