<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login - The Gift Garden</title>
  <link rel="stylesheet" th:href="@{/css/css.css}" href="../static/css/css.css">

<body>
<nav class="navbar">
  <ul class="logo"><span class="logo-the-gift">THE GIFT</span> <br/> GARDEN</ul>
  <ul class="nav-links">
    <ul><a class="nav-item" th:href="@{createaccount}" href="createaccount.html">Create Account</a></ul>
    <ul><a class="nav-item" th:href="@{login}" href="login.html">Login</a></ul>
  </ul>
</nav>

</body>
</html>